body {
  background-color: white;
}

.mainContainer {
  display: flex;
  float: left;
}

.productCard {
  width: 300px;
  border: 1px solid lightblue;
  margin: 10px;
  float: left;
}


.firstSection {
  text-align: center;
}
.firstSection h2 {
  border: 1px solid lightblue;
  margin: 0px;
}

.productImg {
  width: 250px;
  justify-content: center;
  margin: 10px auto;
}

.productDescription {
  text-align: justify;
  margin: 2px;
}

.productAvail {
  text-align: justify;
  background-color: lightslategray;
  color: yellow;
  font-weight: bold;
  margin: 0px;
}
.secondSection h3 {
  margin: 10px 0px 3px 8px;
}
.specificationsSize {
  font-weight: bold;
  margin: 1px 0px 0px 16px;
}
.specificationsFooter {
  font-size: small;
  margin: 2px;
}
.thirdSection h3 {
  margin: 3px 0px 0px 8px;
}
.priceP {
  font-weight: bold;
  margin: 1px 0px 0px 16px; 
}
